*{
    margin: 0px;
    padding: 0px;
}

.topo {
    
    background-color: #424242;
    margin-bottom: 20px;
    
}

.topo .lista {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.lista-1 {
    color: #f5f5f5;
    list-style: none;
    font-size: 2rem;
}